<%# app/views/birdhouse/gallery.html.erb %>

<!-- ... other HTML code ... -->

<% @birdhouses.each do |birdhouse| %>
  <div class="gallery-item">
    <%= image_tag "birdhouse#{birdhouse.id}.jpg", class: 'birdhouse-image' %>
    <p><%= birdhouse.Style %></p>
    <p>Likes: <%= birdhouse.likes %></p>
    
  </div>
<% end %>

<!-- ... other HTML code ... -->

<style>
  /* ... other styles ... */

  .gallery-item {
    /* ... other styles ... */
    margin-bottom: 10px; /* Add some space below each item */
  }

  .birdhouse-image {
    width: 100%; /* Make the image responsive */
    max-width: 200px; /* Set a max-width to keep images small */
    height: auto;
    border-radius: 4px; /* Optional: rounded corners for aesthetics */
  }

  .upvote-button {
    /* ... other styles ... */
  }

  /* ... other styles ... */
</style>
