<!-- app/views/cart/cart.html.erb -->
<h1>Your Shopping Cart</h1>

<style>
.birdhouse-image {
  max-width: 100%;
  height: 200px; /* Set a fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }
</style>

<% if @cart.cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Item</th>

        <th></th> <!-- For remove button -->
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.birdhouse.Style %></td>
          <%= image_tag "birdhouse#{cart_item.birdhouse.id}.jpg", class: 'birdhouse-image' %>
          <td><%= cart_item.quantity %></td>
        </tr>
      <% end %>
    </tbody>
<% else %>
  <p>Your cart is currently empty.</p>
<% end %>
