<html>
<head>
<style>
.aboutus {
  padding: 20px;
  background-color: black;
}

.about-container h1 {
  font-size: 24px;
}

.about-container p {
  font-size: 14px;
}
</style>
</head>

<body>
<div class="aboutus">
  <h1>About Us</h1>
  <p>
    Overview of the Teapot Birdhouses platform, including its history and mission.
    It provides essential details about the platform's origins and a clear explanation
    of its commitment to bird conservation and fostering a vibrant community of bird
    enthusiasts.
  </p>
  
  <h2>Contact Us</h2>
  <p>Phone: +1-901-(123)-4567</p>
  <p>Email: teapotbirdhouse@email.com</p>
</div>
</body>
</html>
