<html>
<head>
<style>
.aboutus {
  padding: 20px;
  background-color: black;
}

.about-container h1 {
  font-size: 24px;
}

.about-container p {
  font-size: 14px;
}
a{
  color: white;
  text-decoration: none;
}
body{
  background: white;
  color: black;
}
</style>
</head>

<body>
<div class="aboutus">
  <h1>About Us</h1>
  <p>
   Teapot Birdhouses is your premier destination for teapot-themed birdhouses, expert birdwatching insights, and a vibrant bird enthusiast community.
   Discover one-of-a-kind designs, find the perfect birdhouse for your garden, and become a part of our thriving community today.
   Elevate your birdwatching experience with us!
   </p>


   <p>
   At Teapot Birdhouses, we blend artistry and functionality to create birdhouses that are as beautiful as they are inviting.
   Our mission is to bring the joys of birdwatching closer to your home, enhancing your connection with the avian world.
   Join us in celebrating nature's wonders, one teapot birdhouse at a time.
   </p>

   <p>
   With a commitment to craftsmanship and a passion for all things avian, we invite you to explore our world of teapot birdhouses and share in the wonder of birdwatching right outside your window.
   Welcome to Teapot Birdhouses, where every birdhouse tells a unique story.
  </p>
  
  <h2>Contact Us</h2>
  <p>Phone: +1-901-(123)-4567</p>
  <p>Email: teapotbirdhouse@email.com</p>
</div>
</body>
</html>
