<html>
    <h1>Thanks for shopping!</h1>
    <p>Your order has been placed successfully.</p>
    <p>Expected delivery in 10 days</p>
    <%= link_to 'View Purchase History', history_path %>
    <p>For more Information <%= link_to 'Contact Us', aboutus_path%> </p>
</html>

