<% @reviews.each do |review| %>
  <div>
    <strong>Rating:</strong> <%= review.rating %><br>
    <strong>Feedback:</strong> <%= review.feedback %><br>
    <strong>By:</strong> <%= review.user.email %>
  </div>
<% end %>